<h1>All Tasks</h1>

<%= link_to 'New Task', new_task_path, class: 'btn btn-success mb-3' %>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
      <strong>Title:</strong> <%= link_to task.title, task_path(task) %><br>
      <strong>Details:</strong> <%= task.details %><br>
      <strong>Completed:</strong>
      <% if task.completed %>
        <i class="fas fa-check-square"></i>
      <% else %>
        <i class="far fa-square"></i>
      <% end %><br>

      <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-primary' %>

      <%= form_with model: task, method: :delete, class: 'd-inline' do %>
        <%= submit_tag 'Delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>
